/scratch
_*
*.log
/.cipd
/v8
/.gclient
/.gclient_entries
/.gclient_previous_sync_commits
/*.class
/*.java
!__init__.py
!__main__.py
/builds
/dacapo-*
/.docker
/depot_tools
/*.json.gz
/*.pdf
/.env
/*.data
/*.data.old