hfac: 2x

includes:
  - $CONFIGS/common/common-lxr.yml

overrides:
  heap_range: 3
  invocations: 20
  suites.dacapochopin.minheap: G1-n5

build_gc: LXR

runtimes:
  jdk-lxr-jul2023:
    type: OpenJDK
    release: 11
    home: $BUILDS/jdk-lxr-1/jdk-11.0.19
    commits:
      mmtk-core: ad9314e
      mmtk-openjdk: 98eb6f9f
      openjdk: bc9669aaed
    pgo: true
  jdk-lxr: &lxr
    type: OpenJDK
    release: 11
    home: $BUILDS/jdk-lxr/jdk-11.0.19
    commits:
      mmtk-core: ff8cf7ddb61cf64b57cfbd1f123e6071d00a6bb9
      mmtk-openjdk: 46f70a5da616b4980ef5f7bb85ede21fe316dc60
      openjdk: bc9669aaed
    features: mmtk/no_meta_counting
    pgo: true
  # jdk-lxr-opt-134: &cm-cfg
  #   type: OpenJDK
  #   release: 11
  #   home: /$BUILDS/jdk-lxr-2/jdk-11.0.19
  #   commits:
  #     mmtk-core: c9977c11db2ce4553dc3d060fb6fd6e07c8fab6d # lxr-x/no-cmopt
  #     mmtk-openjdk: 46f70a5da616b4980ef5f7bb85ede21fe316dc60
  #     openjdk: bc9669aaed
  #   features: mmtk/opt_attempt_mark,mmtk/opt_space_check,mmtk/fast_rc_check,mmtk/no_meta_counting
  #   pgo: true
  # jdk-lxr-opt-1234:
  #   <<: *cm-cfg
  #   home: /$BUILDS/jdk-lxr-3/jdk-11.0.19
  #   features: mmtk/opt_attempt_mark,mmtk/opt_space_check,mmtk/no_dyn_dispatch,mmtk/fast_rc_check,mmtk/no_meta_counting
  #   pgo: true

configs:
  # G1
  - jdk-lxr|g1|common3|hs
  - jdk-lxr|shenandoah|common3|hs
  - jdk-lxr|z|common3|hs
  # LXR
  - jdk-lxr|lxr|common3|tph|disable_thp
  - jdk-lxr-jul2023|lxr|common3|tph|disable_thp
  - temurin-21|g1|common3|hs|dacapochopin_jdk21
  - temurin-24|g1|common3|hs|dacapochopin_jdk24
  # - jdk-lxr-opt134|lxr|common3|tph
  # - jdk-lxr-opt1234|lxr|common3|tph
